@import "../vars";

#new-post {

    width: $compwidth;
    margin-top: 60px;
    border: none;

    .new-post-form {
        display: grid;
        grid-template-columns: 5fr 1fr;
    }

    .input-form, .form-button {
        //border: 1px solid $purp;
        border: none;
    }

    .input-form {
        //border: 2px solid rgb(181, 162, 194);
        background: rgb($purp, .15);
        display: block;
        padding: 20px;
        resize: none;
        color: rgb(80, 63, 92);
        font-size: 20px;
        outline: none;
    }

    ::placeholder {
        color: rgb(154, 147, 170);
    }

    .form-button {
        display: block;
        padding: 15px;
        float: right;
        font-size: 20px;
        margin: 0px;
        background: $purp;
        color: white;

        &:hover {
            //background: rgb(80, 63, 92);
            background: $hl2;
        }
    }
}