@import "../vars";


.post {
    margin-top: 10px;        
    display: grid;
    grid-template-columns: 1fr 5fr;
}

// The info on the left, like user, likes, date
.column-1 {
    font-size: 16px;
    line-height: 20px;
    color: $purp;
    margin-bottom: 10px;
}

.post-details {
    margin-bottom: 10px;
}

.creator {
    color: rgb(121, 104, 153);
    font-size: 24px;
    border-bottom: 4px solid rgb($heartred, .3);
    text-decoration: none;

    &:hover {
        color: $hl2;
        border-bottom: 4px solid $hl2;
    }
}

.date {
    font-size: 16px;
    color: $purp;
}

.like-component {
    font-size: 20px;

    .fa-heart {
        margin-right: 2px;
        color: $purp;
    }

    .liked {
        //color:rgb(103, 42, 156);
        color: $heartred;
    }
}





/// Everything on the Right side of the post
.column-2 {
    padding: 14px 18px 14px 20px;
    background: rgba(151, 129, 177, 0.05);
    box-shadow: 1px 1px 3px rgb($purp, .6);
    display: inline;
}

.post-body, .edit-form {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color: rgb(100, 89, 119);
}



// Style the pencil icon
// used in both start and end editing
.fa-pencil, .fa-check {
    display: inline;
    font-size: 20px;
    margin: 20px 5px 2px 0px;
}

// Style .edit-start and .edit-done together
.edit-start, .edit-done-btn, .edit-end {
    color: rgb($purp, .8);
    font-size: 20px;
    border: none;
    outline: none;
    background: none;
}

// Style hover events separately
.edit-start {
    &:hover {
        color: $hl2;
    }
}

// Style hover events separately
.edit-end {
    &:hover {
        .fa-check, .edit-done-btn {
        color: $hl2;
        }
    }
}


// Editing form textarea
.edit-area {
    background: white;
    width: 100%;
    border: none;
    resize: none;
    color: $purp;
}

