[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
dj-database-url = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
mm = "python manage.py makemigrations"
mi = "python manage.py migrate"
run = "python manage.py runserver 7000"
sh = "python manage.py shell"
su = "python manage.py createsuperuser"
ca = "python manage.py loaddata categories"
kill = "lsof -t -i:8000"
t = "python manage.py test"
fix = "python manage.py loaddata t_user; python manage.py loaddata t_entry"
