@import "vars";

.nav-bar {
    padding: 30px 0px 30px 100px;
    margin: 0px 0px 00px 0px;
    display: block;
    background: $bg;

    .nav-option {
        display: inline;
        font-family: 'Roboto Mono', monospace;
        margin: 0px;
        font-size: 22px;
        padding: 0px;
        margin-right: 50px;
        text-decoration: none;
        color: gold;
        text-align: left;

        &:hover {
            color: rgb(255, 166, 0);
            //background: green;
        }
    }
}

/* .nav-bar.in {
    background: $bg;

    .nav-option {
        color: gold;

        &:hover {
            color: white;
            border-bottom: 5px solid white;
            
        }
    }
} */

/* .nav-bar.out {
    background: rgb(0, 0, 0, .2);
} */