@import "vars";

.tracker-title-display {
    color: gold;
    text-align: center;
    font-size: 20px;
}

@media screen and (max-width: 480px) {

    .nav-bar {
        padding: 12px 20px 10px 15px;
        display: block;
        text-align: left;
        background: $bg;        
    }

    .nav-option {
        font-family: 'Roboto Mono', monospace;
        font-size: 16px;
        color: $gold;
        text-decoration: none;
        padding: 0px 20px;

        &:active, &:visited {
            color: $gold;
        }
    }

}




@media screen and (min-width: 480px) {
    .nav-bar {
        padding: 30px 0px 30px 100px;
        margin: 0px 0px 00px 0px;
        display: block;
        background: $bg;
    }

    .nav-option {
        display: inline;
        font-family: 'Roboto Mono', monospace;
        margin: 0px;
        font-size: 22px;
        padding: 0px;
        margin-right: 50px;
        text-decoration: none;
        color: gold;
        text-align: left;
        float: right;

        &:hover {
            color: rgb(255, 166, 0);
            //background: green;
        }
    }

    .nav-bar.out {
        background: none;
    }
}