@import "vars";

.stats {
    font-size: 30px;
    color: $purp;
    font-family: 'Roboto Mono', monospace;
}

.follow-unfollow-btn {
    border: none;
    background: $purp;
    color: white;
    margin-top: 0px;
    font-size: 30px;

    &:hover {
        color: white;
        background: $hl2;
    }
}