/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');
@import "vars";

html {
    background: #5343a4;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    //@error: $bg-dark;
}


#body, #form, #date {
    background: white;
}

#easterEgg {
    position: fixed;
    z-position: -999;
}

#title {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: gold;
    background: #6e5cc8;
    padding: 15px 10px 15px 10px;
}

#energyNote {
    display: none;
}

#sleepWake {
    line-height: 1;
}

.timeInputContainer {
    position: relative;
    top: -4px;
    padding: 2px 0px 3px 0px;
    margin: 0px 4px 0px 4px;
    border-bottom: 2px solid #bfb6ee;
    background: none;
}

.timeInput {

    width: 50px;
    background: none;

    font-size: 20px;
    outline: none;
    border: none;
    text-align: center;
    color: #bfb6ee;
    position: relative;
    top: 4px;
    left: 2px;
    display: inline-block;
    line-height: 0.15;
    //background: #bfb6ee
    //#bfb6ee;
}

.timeInputContainer:hover {
    border-bottom: 2px solid #6d82e2;

    .timeInput {
        color: #6d82e2;
    }

}

.timeInput:focus {
    color: #6d82e2;
}


h3 {
    padding-bottom: 8px;
    font-weight: 300;
    margin: none;
}

#date, #timeOfDay {
    color: grey;

    #day {
        float: left;
    }


    #time, #timeOfDay {
        float: right;
    }

}

#date, #form, #timeOfDay {
    padding: 20px 20px 20px 20px;
}

#date {
    padding-top: 10px;
}

#today {
    padding-bottom: 15px;
}

.section {
    padding-bottom: 30px;
}

button {
    border: none;
    outline: none;
    padding: 17px;
    background: #e8e8e8;
}

.btn:active {
    background: #6e5cc8;
}

.grid-container {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(7, 1fr);
  }

.grid-item {
    padding: 10px;
    background: #e8e8e8;
    //color: #6e5cc8;
}

.grid-item:active {
    background: #6e5cc8;
}

@media only screen and (max-width: 400px) {
    h1 {
        font-size: 20px;
    }
} */