@import "vars";
@import "./Time";
@import "./Tracker/SleepInput";

// Time and components
#tracker-page {
    font-family: 'Nunito', sans-serif;
}

// Just the input components (sections)
.tracker-body {
    padding: 15px 15px 20px 20px;

    h3 {
        font-size: 20px;
    }
}


.section {
    padding-bottom: 30px;
    font-size: 20px;
}

.grid-container {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(7, 1fr);
}

.grid-item {
    padding: 10px;
    background: #e8e8e8;
}

.selected-day {
    background: $intense;
}