@import "../vars";

#sleep-input {
    line-height: 1;
    color: $grey;
}

.timeInputContainer {
    position: relative;
    top: -4px;
    padding: 2px 0px 3px 0px;
    margin: 0px 4px 0px 4px;
    border-bottom: 2px solid $intense;
    background: none;

    &:hover {
        border-bottom: 2px solid $intense;

        .timeInput {
            color: $intense;
        }
        
    }
}

.timeInput {

    width: 54px;
    background: none;
    margin: none;

    font-size: 20px;
    outline: none;
    border: none;
    text-align: center;
    color: $intense;
    position: relative;
    top: 4px;
    left: 2px;
    display: inline;
}

.timeInput::placeholder {
    color: $intense;
}